<!doctype html>
<html lang="en">
<head>
    <title>TicTac</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
          integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="style.css">


    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
            integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
            integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut"
            crossorigin="anonymous"></script>


    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>




</head>
<body>



<nav class="navbar navbar-dark fixed-top bg-dark p-2 shadow">

    <a href="#">
        <img width="38" style="border-radius: 3px; margin: 0 10px;" src="logo.png" alt="avatar picture">
    </a>
    Some categ

    <div class="container w-50">
        <div class="input-group">
            <input class="form-control form-control-dark" type="text" placeholder="Add task" aria-label="Add task" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">

                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span style="color: red"> 02-03-2018</span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
        </div>


    </div>
    <i class="fas fa-search nav-buttons"></i>
    <i class="far fa-bell nav-buttons"></i>
    <img width="38" style="border-radius: 3px; margin: 0 10px;" src="avatar.jpeg" alt="avatar picture">
</nav>


<div id="index" class="container-fluid h-100">
<div class="row h-100">
    <div class="col col-md-3 column-left">

    </div>
    <div class="col col-md-6 global">
        <div class="row">
            <div class="col-sm">
                <h5>Focus</h5>
            </div>
        </div>

        <hr style="margin-top: 0">
        <div class="row">
            <div class="col col-md-12">
                <ul class="list-group">
                    <li class="list-group-item" v-bind:class="[task.class]" v-for="task in focusTasks">

                        <div class="row">
                        <div class="col-md-8">
                            <i class="far fa-circle complete-task"></i>

                            <span class="task-title" v-on:click="seen=!seen">{{task.title}}</span>
                        </div>
                        <div v-if="task.showTaskDate" style="position: absolute;right: 105%; color:red; width: 150px">
                            <div style="font-size: 20px; text-align: right"><strong>{{task.status.toUpperCase()}}</strong></div>
                            <div style="font-size: 12px;text-align: right; margin-top: -5px;">{{task.date}}</div>
                        </div>


                            <div class="col-md-2" style="text-align: right; padding-right: 0">
                        <span class="expire" v-if="task.status == 'expired'" data-toggle="tooltip" data-placement="bottom"
                              v-bind:title="task.date">{{task.day}}</span>
                            </div>
                        <div class="col-md-2">
                        <span class="float-right task-project-icon" v-bind:style="{ color: task.projectColor }"><i class="fas fa-circle"></i></span>

                        <span class="float-right task-project">{{task.projectTitle}}</span>
                        </div>

                        </div>
                    </li>


                </ul>
            </div>
        </div>

        <div class="row" style="margin-top: 25px">
            <div class="col-md-1">
                <h5>Other</h5>
            </div>

            <div class="col-md-1" style="text-align: center; padding-left: 0">
                <a class="align-middle" style="font-size: 12px" href="#">Show</a>
            </div>
            <div class="col-md-10"></div>
        </div>
        <hr style="margin-top: 0">

        <div class="row">
            <div class="col col-md-12">
                <ul class="list-group">
                    <li class="list-group-item day-3">
                        <i class="far fa-circle complete-task"></i>
                        <span class="task-title">
                        Some task here
                        </span>
                        <span class="float-right task-project-icon"><i class="fas fa-circle"></i></span>
                        <span class="float-right task-project">Personal</span>
                    </li>
                </ul>
            </div>
        </div>

    </div>


    <div class="col col-md-3 column-right">
        <transition name="slide-fade">
        <div class="row" v-if="seen">
            <div class="col col-md-12">
                <h5 style="color:#202020;">
                    Some task here
                </h5>
                <hr style="margin-top: 0">



                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>

                    </ul>
                </div>
                <br />

                <div class="form-group">
                    <textarea class="form-control normal" rows="3"></textarea>
                </div>

                <div class="times">
                    <p>sdfsdf</p>
                    <hr>
                    <p>sdfsdf</p>

                </div>

                <span>{{seen}}</span>
            </div>
        </div>
        </transition>
    </div>
</div>
</div>


<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark footer">
    <ul class="nav navbar-nav mx-auto ">
        <li class="nav-item active" style="padding-left: 10px; padding-right: 10px"><a class="nav-link" href="#">Current
            <span class="badge badge-light" style="margin-left: 10px; margin-top: -2px;vertical-align: middle">4</span></a>
        </li>
        <li class="nav-item" style="padding-right: 10px; padding-left: 10px"><a class="nav-link" href="#">Snoozed <span
                class="badge badge-light"
                style="margin-left: 10px; margin-top: -2px;vertical-align: middle">4</span></a></li>
        <!--<li class="nav-item"><a class="nav-link" href="#">Website Name</a></li>-->

    </ul>


</nav>

<script src="mock-data.js"></script>
<script src="index.js"></script>
<script>
    $(document).ready(function () {
        $('[data-toggle="tooltip"]').tooltip();
    });



    $(function(){
        $('.normal').autosize();
        $('.animated').autosize({append: "\n"});
    });
</script>
</body>
</html>