<!--<div>-->
<nav class="navbar fixed-bottom navbar-expand-lg navbar-dark bg-dark footer">
    <ul class="nav navbar-nav mx-auto ">
        <li class="nav-item active" style="padding-left: 10px; padding-right: 10px"><a class="nav-link" href="#">Current
            <span class="badge badge-light" style="margin-left: 10px; margin-top: -2px;vertical-align: middle">4</span></a>
        </li>
        <li class="nav-item" style="padding-right: 10px; padding-left: 10px"><a class="nav-link" href="#">Snoozed <span
                class="badge badge-light"
                style="margin-left: 10px; margin-top: -2px;vertical-align: middle">4</span></a></li>
    </ul>
</nav>
<!--</div>-->