.list-group-item{
    padding: 5px 5px 5px 10px;
    background: #FAFAFA;
}

.complete-sub-task {
    margin-right: 5px;
    margin-bottom: 3px;
    font-size: 18px;
    vertical-align: middle;
    color: lightgray;
}
.complete-sub-task:hover {
    background: #EBF2FF;
    border-radius: 50%;
}