<div class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="background: white;opacity: 0.95;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content" style="background: white;opacity: 1;border: none;">
            <div class="modal-header">
                <h3 class="modal-title" id="exampleModalLabel" style="color:#202020;">
                    {{title}}
                </h3>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span style="font-size: 30px" aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <div class="card">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>
                        <li class="list-group-item sub-task">
                            <i class="far fa-circle complete-sub-task"></i>
                            <span class="sub-task-title">Cras justo odio</span>
                        </li>

                    </ul>
                </div>
                <!--<br />-->

                <!--<div class="form-group">-->
                <!--<textarea class="form-control normal" rows="3"></textarea>-->
                <!--</div>-->

                <!--<div class="times">-->
                <!--<p>sdfsdf</p>-->
                <!--<hr>-->
                <!--<p>sdfsdf</p>-->

                <!--</div>-->

                <!--<span>{{seen}}</span>-->
                <!--</div>-->
                <!--</div>-->
                <!--</transition>-->
                <!--</div>-->
                <!---->



            </div>
            <!--<div class="modal-footer">-->
                <!--<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>-->
                <!--<button type="button" class="btn btn-primary">Save changes</button>-->
            <!--</div>-->
        </div>
    </div>
</div>