<!--<div class="col col-md-3 column-right">-->
<!--<transition name="slide-fade">-->
<!--<div class="row" v-if="seen">-->
<!--<div class="col col-md-12">-->
<!--<h5 style="color:#202020;">-->
<!--Some task here-->
<!--</h5>-->
<!--<hr style="margin-top: 0">-->



<!--<div class="card">-->
<!--<ul class="list-group list-group-flush">-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->
<!--<li class="list-group-item sub-task">-->
<!--<i class="far fa-circle complete-sub-task"></i>-->
<!--<span class="sub-task-title">Cras justo odio</span>-->
<!--</li>-->

<!--</ul>-->
<!--</div>-->
<!--<br />-->

<!--<div class="form-group">-->
<!--<textarea class="form-control normal" rows="3"></textarea>-->
<!--</div>-->

<!--<div class="times">-->
<!--<p>sdfsdf</p>-->
<!--<hr>-->
<!--<p>sdfsdf</p>-->

<!--</div>-->

<!--<span>{{seen}}</span>-->
<!--</div>-->
<!--</div>-->
<!--</transition>-->
<!--</div>-->