<!--<div>-->
<nav class="navbar navbar-dark fixed-top bg-dark p-2 shadow">

    <a href="#">
        <img width="38" style="border-radius: 3px; margin: 0 10px;" src="../../assets/logo.png" alt="avatar picture">
    </a>
    Some categ

    <div class="container w-50">
        <div class="input-group">

            <!--<input type="submit"  style="visibility: hidden;position: absolute; left: 1px" />-->
            <input class="form-control form-control-dark" type="text" placeholder="Add task" aria-label="Add task" aria-describedby="button-addon4">

            <div class="input-group-append" id="button-addon4">

                <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <span style="color: red"> 02-03-2018</span>
                    <span class="sr-only">Toggle Dropdown</span>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                    <div role="separator" class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Separated link</a>
                </div>
            </div>
        </div>


    </div>
    <i class="fas fa-search nav-buttons"></i>
    <i class="far fa-bell nav-buttons"></i>
    <img width="38" style="border-radius: 3px; margin: 0 10px;" src="../../assets/avatar.jpeg" alt="avatar picture">
</nav>
<!--</div>-->